.tabs {
    flex: 0 0 64px;
    max-width: 64px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    @include breakpoint(phone) {
        padding-top: 0;
        flex: none;
        max-width: 100%;
        flex-direction: row;
        border-right: 0;
        border-bottom: 1px solid #ccc;
    }

}
.tabs__button {
    width: 45px;
    height: 45px;
    align-self: center;
    margin-bottom: 2px;
    background-color: $athens;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    transition: 0.6s ease;
    &:hover {
        background-color: #072842;
        .tabs__icon {
            color: $white;
        }
    }
    @include breakpoint(phone) {
        margin: 10px;
    }
}
.tabs__button--active {
    background-color: $blumine;
    .tabs__icon {
        color: $white;
    }
}
.tabs__icon {
    font-size: 20px;
    color: rgba($blumine, 0.5);
    pointer-events: none;
    transition: 0.6s ease;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}