.block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid $mercury;
    height: 100%;
}
.block__holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.block__content {
    padding: 0 6px 0 8px;
}
.block__icon {
    font-size: 34px;
    color: $blumine;
}
.block__title {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: $mirage;
}
.block__value {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: $mirage;
    letter-spacing: -0.8px;
}
.block__controls {
    position: relative;
}
.block__controls--hidden {
    display: none;
}
.block__item {
    position: relative;
    label {
        letter-spacing: -1.2px;
    }
}
.block__checkbox {
    position: relative;
}