.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.cards__col {
    flex: 1 1 16.66%;
    max-width: 16.66%;
    padding: 5px;
    @include breakpoint(tablet) {
        flex: 1 1 33.33%;
        max-width: 33.33%;
    }
    @include breakpoint(phone) {
        flex: 1 1 100%;
        max-width: 100%;
    }
}