.bar {
	fill: $bermuda;
}
.arc {
	path {
		stroke: $white;
	}
}
.title {
	fill: $blumine;
	font-size: 22px;
}
.highlight {
	fill: $mirage !important;
}
[class*='p-title'] {
	font-weight: 900;
	font-size: 12px;
}
[class*='p-text']  {
	font-weight: 700;
	font-size: 10px;
}
label {
	display: block;
	margin-bottom: 5px;
}
.chart {
	position: relative;
}
.chart__controls {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 40px;
}