.bar {
	fill: $bermuda;
}
#bar1,
#bar2,
#bar3,
#bar4,
#bar5 {
	line,
	.domain {
		stroke: #fff;
	}
	text {
		font-weight: 700;
		font-size: 10px;
	}
}
.arc {
	path {
		stroke: $white;
	}
}
.title {
	fill: $blumine;
	font-size: 22px;
}
.highlight {
	fill: $mirage !important;
}
[class*='p-title'] {
	font-weight: 700;
	font-size: 12px;
}
[class*='p-text']  {
	font-weight: 900;
	font-size: 14px;
}
#map {
	path {
		fill: #ccc;
	}
	.q0-9 { fill: #C3D1DE; }
	.q1-9 { fill: #C2DDF8; }
	.q2-9 { fill: #78A2CC; }
	.q3-9 { fill: #A1C1DF; }
	.q4-9 { fill: #5da9f1; }
	.q5-9 { fill: #6887A6; }
}

label {
	display: block;
	margin-bottom: 5px;
}
.chart {
	position: relative;
	@include breakpoint(phone) {
		> svg {
			zoom: 0.8;
		}
	}
}
.chart__controls {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-end;
	padding-left: 40px;
	margin-top: 20px;
	margin-bottom: -30px;
	position: relative;
	z-index: 10;
}
.chart__inner {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.chart__title {
	font-size: 22px;
	color: $mirage;
	display: block;
	text-align: center;
	font-weight: 700;
}