body {
	margin: 0;
	padding: 0;
}
.bar {
	fill: steelblue;
}
.arc text {
	font: 10px sans-serif;
	text-anchor: middle;
}
.arc path {
	stroke: #fff;
}
.title {
	fill: teal;
	font-weight: bold;
}
.highlight {
	fill: orange;
}
.numb {
	display: none;
}
svg {
	overflow: visible;
}
[class*='p-title'] {
	font-weight: 900;
	font-size: 12px;
}
[class*='p-text']  {
	font-weight: 700;
	font-size: 10px;
}