.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte h5,
.rte h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $font;
	font-weight: normal;
	line-height: 1.35em;
}

.rte h1,
.h1 {
	font-size: 48px;
}

.rte h2,
.h2 {
	font-size: 36px;
}

.rte h3,
.h3 {
	font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.rte h4,
.h4 {
	font-size: 24px;
}

.rte h5,
.h5 {
	font-size: 20px;
}

.rte h6,
.h6 {
	font-size: 16px;
}

.rte {
    text-align: left;
    padding: 20px;
    b {
        font-weight: 700;
    }
	p {
		margin-bottom: 15px;
        line-height: 1.2;
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	blockquote {
		border-top: 1px solid $black;
		border-bottom: 1px solid $black;
		padding: 30px 0;
	}
	ul {
		padding-left: 20px;
        margin-bottom: 10px;
	}
	ol {
		padding-left: 20px;
	}
    li {
        margin-bottom: 5px;
    }
	ul li {
		list-style-type: disc;
        li {
            list-style-type: circle;
        }
        ul {
            margin-top: 10px;
        }
	}
	ol li {
		list-style-type: decimal-leading-zero;
	}
}

img {
	max-width: 100%;
}


.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: $black;
    margin-bottom: 20px;
}
.container {
    margin: 40px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    min-height: 600px;
    display: flex;
    position: relative;
    overflow: hidden;
    @include breakpoint(phone) {
        display: block;
    }
}
.container__content {
	position: relative;
	display: none;
}
.container__content--active {
	display: block;
}
.container__inner {
    flex: 1 1 calc(100% - 64px);
    max-width: calc(100% - 64px);
    @include breakpoint(phone) {
        flex: none;
        max-width: 100%;
    }
}
.content {
    display: block;
    margin: 30px auto 0;
    text-align: center;
}
.content__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}
.content__about {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: #4e4a44;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $blumine;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}