.selectric {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 6px;
    .content {
        margin: 10px auto;
    }
    @include breakpoint(phone) {
        flex-direction: column;
    }
}
.selectric__item {
    margin: 5px;
    flex: 1 1 calc(33.33% - 12px);
    max-width: calc(33.33% - 12px);
    .nice-select,
    .nice-select-dropdown  {
        width: 100%;
    }
    .filter-autocomplete-item {
        width: 100%;
        font-size: 13px;
    }
    .select2-container {
        .select2-selection--multiple {
            min-height: 38px;
            .select2-selection__choice__remove {
                font-size: 12px;
            }
            .select2-selection__choice {
                max-width: 98%;
            }
        }
        .select2-selection--single {
            height: 38px;
            .select2-selection__rendered {
                padding-left: 12px;
                padding-top: 4px;
                font-size: 13px;
            }
            .select2-selection__arrow {
                height: 36px;
            }
        }
        .select2-search--inline {
            .select2-search__field {
                margin-top: 10px;
                margin-left: 12px;
                font-size: 13px;
            }
        }
    }
    @include breakpoint(tablet) {
        flex: 1 1 calc(50% - 12px);
        max-width: calc(50% - 12px);
    }
    @include breakpoint(phone) {
        flex: 1 1 calc(100% - 12px);
        max-width: calc(100% - 12px);
    }
}
#filterMsg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.85);
    z-index: 100;
    color: $white;
    text-align: center;
}
.loader-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.selectric__btn {
    background-color: $blumine;
    border-radius: 4px;
    transition: 0.3s ease;
    padding: 8px 10px;
    color: $white;
    border: 0;
    margin: 0 4px;
    cursor: pointer;
    &:hover {
        background-color: $mirage;
    }
}