// table>
.table-fixed-header {
	overflow-y: auto;
	max-height: 300px;
	border: 1px solid $mercury;
	border-radius: 5px;
	th {
		position: sticky;
		top: 0;
		left: 0;
		transform: translateY(-1px);
	}
	tr {
		border-bottom: 1px solid $mercury;
	}
}
.table-fixed-header__inner {
	width: 100%;
	th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: $mercury;
		color: $black;
	}
	tr {
		&:nth-child(even) {
			background-color: $tropical-blue;
		}
	}
	td,
	th {
		font-size: 14px;
		padding: 8px;
	}
}

//dynamic table
.tbl {
	width: 100%;
	th {
		text-align: left;
		background-color: $bermuda;
		color: white;
		padding: 12px 8px;
		text-transform: capitalize;
		font-size: 13px;
		line-height: 20px;
	}
	td {
		font-size: 13px;
	}
	td,
	tr {
		border: 1px solid #ddd;
		padding: 8px;
	}
}
.tbl-wrap {
	max-height: 600px;
	overflow: auto;
	border-top: 1px solid $black;
	table.dataTable tbody th,
	table.dataTable tbody td {
		word-break: break-word;
		font-size: 13px;
	}
	table.dataTable thead th,
	table.dataTable thead td {
		font-size: 14px;
	}
	.dataTable {
		width: 100% !important;
	}
}
.dataTables_length > label,
.dataTables_info {
	padding: 15px;
}